<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Buscar</title>
</head>

<body>
    <header class="index">
        <div>
            <img src="icons/cuadros.png" class="logo" width="50px" height="25px">
            <p class="name">Módulo de Predicción</p>
        </div>
    </header>

    <div class="container_p">
        <div class="container_predic_info">
            <h1 class="title">Realizar Búsqueda</h1>
            <form class="inputs-container">
                <label for="product">Elegir producto:</label>
                <select id="products" name="products">
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
                <label for="date">Elegir fecha:</label>
                <select id="dates" name="dates">
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
                </br>
                <button class="btn" type="submit" name="submit">BUSCAR</button>
            </form>
        </div>
    </div>

</body>

</html>