{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Buscar</title>
</head>

<body>
    <header>
            <img src="{% static '/icons/cuadros.png' %}" class="logo" width="50px" height="25px">
            <h2>Módulo de Predicci&oacute;n</h2>
    </header>

    <main>
        <div class="content">
            <h1>Realizar B&uacute;squeda</h1>
            <form action="/prediction/" method="get">
                <div class="input-section">
                    <label for="products">Producto</label>
                    <select id="products" name="producto">
                        {% for prod in productos %}
                         <option value="{{forloop.counter}}">{{prod}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-section">
                    <label for="dates">Fecha</label>
                    <select id="dates" name="mes">
                        <option value="enero">Enero</option>
                        <option value="febrero">Febrero</option>
                        <option value="marzo">Marzo</option>
                        <option value="abril">Abril</option>
                        <option value="mayo">Mayo</option>
                        <option value="junio">Junio</option>
                        <option value="julio">Julio</option>
                        <option value="agosto">Agosto</option>
                        <option value="setiembre">Septiembre</option>
                        <option value="octubre">Octubre</option>
                        <option value="noviembre">Noviembre</option>
                        <option value="diciembre">Diciembre</option>
                    </select>
                </div>
                    <button class="btn" type="submit" name="submit">BUSCAR</button>
            </form>
        </div>
    </main>

</body>

</html>
